.navbar > .nav > .nav-link {
    color: #000;
    font-family: 'Raleway', sans-serif;
  }
  .navbar > .nav > .active,
  .navbar > .nav > .active > a:hover,
  .navbar > .nav > .active > a:focus {
    color: #fff;
    background:#F4B826;
    border-radius:0px;
  }
  
  .DeptHeading{
    text-transform: uppercase;
    font-weight: 600;
    font-size: larger;
    text-align: center;
    background: #000;
    width: 100%;
    color: #fff;
    padding: 20px;
  }
  
  .submenu{
    background: #000;
    color: #fff;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0 0 30px -8px rgba(0, 0, 0, 0.1);
    margin-left: 25px;
    padding: 25px;
  }
  .nav-pills-wrapper{
    width: 100%;
    text-align: center;
    margin-bottom:10px;
  }
  